body{
    margin:0;
    font-family:Arial, sans-serif;
    min-height:100vh;
    padding:30px 15px;
}

/* Background */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:url("bg.jpg") center/cover no-repeat;
    z-index:-2;
}

/* Overlay */
body::after{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.7);
    z-index:-1;
}

.container{
    max-width:500px;
    margin:auto;
}

.title{
    color:#00ff88;
    font-size:22px;
    margin-bottom:20px;
    text-shadow:0 0 15px rgba(0,255,136,0.6);
}

.box{
    background:rgba(20,30,60,0.8);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:20px;
    color:white;
    box-shadow:0 15px 35px rgba(0,0,0,0.6);

    display:flex;
    flex-direction:column;
    min-height:400px; /* tinggi minimal box */
}

/* TXT Viewer */
iframe{
    width:100%;
    height:300px;
    border:none;
    border-radius:10px;
    background:white;
    margin-bottom:20px;
}

/* Button */
button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#00ff88,#00c853);
    font-weight:bold;
    cursor:pointer;
}

.tanggal{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    padding:10px 0;
    font-size:14px;
    color:#ccc;
    background:rgba(0,0,0,0.6);
}